@charset "utf-8";
/* roboto-regular - latin */
@font-face {
  font-family: Roboto400;
  src: url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), 
	   url('../fonts/roboto-v29-latin-regular.woff') format('woff'); 
}

/* roboto-700 - latin */
@font-face {
  font-family: Roboto700;
  src: url('../fonts/roboto-v29-latin-700.woff2') format('woff2'),
	   url('../fonts/roboto-v29-latin-700.woff') format('woff');
}
@font-face {
  font-family: Kiga;
  src: url('../fonts/kindergarten.ttf') format('truetype');
}

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* typselektoren --------------------------*/
img {
	max-width: 100%;
	height: auto;
	display: block;
}
	html {
		font: 1.1rem Roboto400, sans-serif;
	}
	h1, h2, h3 {
		font-family: Kiga, sans-serif;
		color: #183EB2;
	}
	h2 { 
		padding:1rem 0 0.5rem; 
		font-size: 2rem;
		}
	p {
		line-height: 1.6rem; 
	}
	/* Inhalt von oben ------------------------*/
	#topheader {
		position: fixed;
		top: 0;
        left: 0;
        right: 0;
		z-index: 100;
		height: 150px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2%;
		background: rgba(255,255,255,0.95);
		border-bottom: 1px solid #ddd;
		transition: 0.5s;
	}
    #topheader.hans {
        height: 50px;
    }

	#topheader img {
		width: 300px;
        transition: 0.5s;
	}
    #topheader.hans img {
        width: 150px;
        transform: translateY(10px);
        background: linear-gradient(transparent, white);
        padding: 3px;
        border-radius: 5px;
    }
	/* navi ---------------*/
	#topnav ul {
		display: flex;
		list-style: none;
	}
	#topnav a {
		margin-left: 1rem;
		text-decoration: none;
		color:#183EB2;
		display:block;
		text-transform: uppercase
	}
	#topnav a:after {
		content:"";
		display: block;
		width:calc(100% + 6px);
		transform: translateX(-3px);
		height:10px;
		transition:0.5s;
	}
	#topnav a:hover:after {
		width:calc(100% + 16px);
		transform: translateX(-8px);
		background:url("../Court_Barn_img/Linie-klein-test.png") no-repeat;
	}
main {
    margin-top: 150px;
}
	article {
		padding-top: clamp(200px,35%,500px);
	}

	#art1 {
		background: url("../Court_Barn_img/black-and-white-sitting.jpg") center top/cover fixed;
	}
	#art2 {
		background: url("../Court_Barn_img/courtney_playing4.webp") center top/cover fixed;
	}
	#footer {
		padding: 1% 2%;
		border-top: 1px solid #8C96B2;
		text-align: center;
		background: #D3DEFF;	
	}
	
	/* --------------------------------------------------------*/
	/* klassen -----------------------------------------------*/
	/* spalterei -----------*/
	.superspalter 	  { display: flex;}
	.superspalter > * { flex: 1 0 0; }
	.gap {gap: 1rem;}

	/* wrapper ---------*/
	.wrapper700, .wrapper1000, .wrapper1200, .wrapper1400 {
		margin-left:auto;
		margin-right:auto;
	}
	.wrapper700  { max-width:700px; }
	.wrapper1000 { max-width:1000px; }
	.wrapper1200 { max-width:1200px; }
	.wrapper1400 { max-width:1400px; }

	/* abstand -----------*/
	.pad2 { padding: 2%;   }
	.pad20{ padding: 2% 0; }
	.pad3 { padding: 3%;   }
	.pad30{ padding: 3% 0; }
	.pad5 { padding: 5%;   }
	.pad52{ padding: 5% 2%;}

	/* sonstige -----------*/
	.content { background: #fff; }

/* anpassung slippry-slider -------*/
.sy-pager li.sy-active a {
    background: #183EB2;
}
